{% extends 'users/layout.html' %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-1 mb-3 border-bottom">
        <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{{url_for('users.home')}}">Dashboard</a></li>
              <li class="breadcrumb-item"><a href="{{url_for('users_add_vehicle.dashboard')}}">Vehicle Registration</a></li>
              <li class="breadcrumb-item active" aria-current="page">Update Vehicle Details</li>
            </ol>
          </nav>
    </div>
    <div class="card w-50 mt-4 shadow">
        <div class="card-header fw-bold">
            Update Vehicle No. {{user_vehicle.vehiclenum}}
        </div>
        <div class="card-body">
            <form action="" method="POST">
                {{form.hidden_tag()}}
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Owner Name</label>
                  {{form.ownername(class="form-control w-75",value=user_vehicle.ownername)}}
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Route No.</label>
                  {{form.routeno(class="form-control w-75",value=user_vehicle.routeno)}}
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Make/Model</label>
                  {{form.makemodel(class="form-control w-75",value=user_vehicle.makemodel)}}
                </div>
                <div class="mb-3">
                  {{form.submit(class="btn btn-success btn-sm")}}
                </div>
              </form>
        </div>
    </div>
{% endblock content %}